.todo_item_container {
    width: 100%;
	min-height: calc(100vh - 64px);
	background-color: #efe9ec;
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo_item_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}