.view_todo_container {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	/* align-items: center; */
	h1 {
		font-size: 40px;
		margin: 0;
		padding-bottom: 25px;
		text-align: center;
	}
}

.status_btn_container {
	display: flex;
	align-items: center;
	margin: 15px auto 15px 0;
	.todo_status {
		padding: 4px 10px;
		width: fit-content;
		cursor: pointer;
		/* margin-top: auto; */
		border-radius: 10px;
		margin-right: 5px;
	}
}

.todo_info_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 7px;

	h1 {
		font-size: 24px;
		margin: 0;
		padding-bottom: 25px
	}
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.green_btn {
	border: none;
	padding: 12px;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
    background-color: #3bb19b;
	color: white;
    margin-top: 15px;
}